/* [Page Setup] */
body { background: #34405e }

@font-face {
    font-family: Christmas;
    src: url("akaPotsley.ttf");
}

#text {
    text-align: center;
}

#message {
    color:#fff;
    font-family: Christmas, cursive;
    margin-top: 35px;
    margin-bottom:10px;
    font-size: 3.5em;
}

#credits {
    color:#fff;
    font-family: "Andale Mono", sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: .7em;
}

#credits a {
    color:#9cddff;
}

#credits a:hover {
     color:#afe3ff;
}

#credits a:visited {
    color:#a1cb78;
}

#instructions {
    font-family: "Andale Mono", sans-serif;
    color: #9d8e1d;
    font-size: 1em
}

#pagewrap {
	width:100%;
	overflow: hidden;
}

#christmas {
	max-width:500px;
	max-height:500px;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* [Seting regular view] */
#circleBackground, #windows, #door {
	fill:#21263C;
}

#ambient,
#santa,
#ground,
#wayLeft,
#wayRight,
.st3 {
	opacity: 0;
}

#house {
	fill:#34405e;
}

/* [Seting a hover view] */
#christmas:hover #ambient {
	opacity: 1;
}

#christmas:hover #ground,
#christmas:hover #wayLeft,
#christmas:hover #wayRight,
#christmas.clicked #wayLeft,
#christmas.clicked #wayRight,
#christmas:hover .st3,
#christmas.clicked .st3 {
	opacity: 1;
}

#christmas:hover .backMountains {
	fill:#B7B7B8;
}

#christmas:hover #frontMountains {
	fill:#7D7C7C;
}

#christmas:hover #woods {
	stroke: #372212;
	stroke-width: 5px;
}

#christmas:hover #leafs {
	opacity: 0;
}


#christmas:hover #topIceA, #topIceB, #topIceC, #topIceD, #topIceE {
	fill:#fff;
}

#christmas:hover #baseGround{
	fill:#fff;
}

#chrismas:hover, #wayLeft, #wayRight {
	fill:#B2B2B2;
	stroke:#B2B2B2;
	stroke-width:5px;
}

#christmas:hover #baseHouse {
	fill:#C6C5C5;
}

#christmas:hover #windows {
	fill:#000;
}

#christmas:hover #baseRoof {
	fill:#C14D27;
}

#christmas:hover #shaddowRoof {
	fill:#A33F24;
}

#christmas:hover #baseDoor {
	fill:#5B4240;
}


#christmas:hover #strokeDoor {
	stroke:#DF5726;
	stroke-width:1px;
	fill:transparent;
}

#christmas:hover #doorHandle {
	stroke:#DF5726;
	stroke-width:1px;
	fill:#DDD;
}

#christmas:hover #chimney {
	fill:#341E11;
}

/*------------------------------*/


/* [Seting clicked view] */

#christmas.clicked #ambient {
	opacity: 1;
}

#christmas.clicked #ground {
	opacity: 1;
}

#christmas.clicked .backMountains {
	fill:#B7B7B8;
}

#christmas.clicked #frontMountains {
	fill:#7D7C7C;
}

#christmas.clicked #woods {
	stroke: #372212;
	stroke-width: 5px;
}

#christmas.clicked #leafs {
	opacity: 0;
}


#christmas.clicked #topIceA, #topIceB, #topIceC, #topIceD, #topIceE {
	fill:#fff;
}

#christmas.clicked #baseGround{
	fill:#fff;
}

#chrismas.clicked, #wayLeft, #wayRight {
	fill:#B2B2B2;
	stroke:#B2B2B2;
	stroke-width:5px;
}

#christmas.clicked #baseHouse {
	fill:#C6C5C5;
}

#christmas.clicked #windows {
	fill:#000;
}

#christmas.clicked #baseRoof {
	fill:#C14D27;
}

#christmas.clicked #shaddowRoof {
	fill:#A33F24;
}

#christmas.clicked #baseDoor {
	fill:#5B4240;
}


#christmas.clicked #strokeDoor {
	stroke:#DF5726;
	stroke-width:1px;
	fill:transparent;
}

#christmas.clicked #doorHandle {
	stroke:#DF5726;
	stroke-width:1px;
	fill:#DDD;
}

#christmas.clicked #chimney {
	fill:#341E11;
}

#christmas.clicked #santa {
	opacity: 1;
  transform: translateY(0);
}

#christmas #body, .leftArm, .rightArm, #leftLeg, #rightLeg, #middleCap, #baseNose {
	fill:#DC2B26;
}

#christmas .leftHand, .rightHand, #face {
	fill:#FBC9BA;
}

#christmas #beard, #baseCap, #ballCap {
	fill:#fff;
}

#chistmas #shaddowNose {
	fill:#F77F88;
}

#christmas.clicked #belt {
	fill:#000;
}

#christmas.clicked #buckle {
	fill:#E9A824;
}

#christmas.clicked #windows {
	fill:#F5EF87;
}

/*------------------------------*/


/* [Transitions] */

#baseHouse,
.st23,
#door,
#baseRoof,
#shaddowRoof,
#chimney { transition: all .3s ease; }

.backMountains,
#frontMountains {
  transform: translateY(150px);
  fill: transparent;
}

#christmas:hover #frontMountains { transition: all .4s ease; }
#christmas:hover .backMountains { transition: all .4s .2s ease; }
#christmas:hover #ground { transition: all .2s ease; }
#christmas:hover .st3 { transition: all .3s .6s ease; }


#christmas:hover .backMountains,
#christmas.clicked .backMountains,
#christmas:hover #frontMountains,
#christmas.clicked #frontMountains {
  transform: translateY(0);
}

#santa {
  transform: translateY(200px);
  transition: all .5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}